ion-content {
    --padding-bottom: 100px; /* Agregar espacio de seguridad para los botones */
    --background: none; 
    background-image: url('/assets/img/main.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
        

  }
  
  .button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  ion-button {
    margin-bottom: 10px;
  }