<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="content-container">
    <div class="input-container">
      <ion-item>
        <ion-input placeholder="Correo electrónico" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
  
    <div class="button-container">
      <ion-button color="success" expand="block" (click)="onRegisterButtonPressed()">Registrarse</ion-button>
    </div>
  </div>
</ion-content>